.logo_upload{
 
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    /* border: 1px solid #999; */
    text-decoration: none;
    color: #666;
}
.logon_change{
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    width: 100%;
    opacity: 0;
}